/* commo_css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul,li{
    list-style-type: none;
}

img{
    display: block;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}


.title{
    display: flex;
    justify-content: center;
}

.title h2{
    position: relative;
    color: #d5d5d5;
}

.title h2::before{
    content: "";
    position: absolute;
    left:-15px; 
    top: 50%;
    transform: translateY(-50%) translateX(-100%);
    width: 100px;
    height: 1px;
    background:#535353;
}

.title h2::after{
    content: "";
    position: absolute;
    right:-15px; 
    top: 50%;
    transform: translateY(-50%) translateX(100%);
    width: 100px;
    height: 1px;
    background:#535353;
} 
/* commo_css */

/* nav_bar */
nav{
    background: rgba(0, 0, 0, 0.44);
    padding: 33px 0 32px;
    position: absolute;
    width: 100%;
}

nav .container{
    display: flex;
    justify-content: space-between;
}

nav .container .logo{
    display: block;
}


nav .container .menu ul{
    display:flex;
    column-gap: 43px;
}

nav .container .menu ul li a{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #f5f5f5;
    line-height: 22px;
    transition: .4s;
}


nav .container .menu ul li a:hover{
   color: #28b8d8;
}

/* nav_bar */

/* banner_part */

#banner_part{
    background:url(../images/banner.png);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 380px 0 252px;
}

#banner_part .container{
    text-align: center;
}

#banner_part .container h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #f5f5f5;
    text-transform: uppercase;
}

#banner_part .container h2{
    font-family: 'Roboto Slab', serif; 
    font-weight: 300;
    font-size: 40px;
    color: #f5f5f5;
    text-transform: uppercase;
    margin-bottom: 16px;
    letter-spacing: 5px;
}

#banner_part .container p{
    font-family: 'Roboto Slab', serif; 
    font-weight: 300;
    font-size: 14px;
    color: #f5f5f5;
}


#banner_part .container .text {
	width: 430px;
	margin: 0 auto;
}

/* banner_part */


/* service_part */

#service_part{
    padding-top:80px;
    padding-bottom: 83px;
}

#service_part .service_title{
    text-align: center;
}

#service_part .service_title h2{
    font-family: 'Roboto Slab', serif; 
    font-size: 30px;
    font-weight: 300;
    color: #444444;
}

#service_part .service_title p{
   margin:25px 0 75px ;
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   font-weight: 400;
   color: #444444;
}

#service_part .main{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#service_part .main .service_item{
    width: 370px;
    padding: 15px 15px 23px;
    background: #ffffff;
    border: 1px solid #e3e3e3; 
}

#service_part .main .service_item .image{
    width: 100%;
    height:225px;
}

#service_part .main .service_item .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#service_part .main .service_item .text{
    text-align: center;
}

#service_part .main .service_item .text h4{
    font-family: 'Roboto Slab', serif; 
    font-size: 17px;
    font-weight: 700;
    color: #444444;
    padding-top: 25px;
}

#service_part .main .service_item .text p{
    font-family: 'Roboto Slab', serif; 
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    padding-top: 14px;
    padding-bottom: 24px;
}
/* service_part */

/* shots_part */
#shots_part{
    background: #2c2c2c;
    padding: 50px 0;
}

#shots_part .container .title h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #d5d5d5;
    text-transform: uppercase;
    margin-bottom: 50px;
}


#shots_part .container .main{
   display: flex;
}

#shots_part .container .main .image{
  width: 25%;
}

#shots_part .main .image img{
    width: 100% ;
}

#shots_part .btn{
    text-align: center;
    margin-top: 60px;
}

#shots_part .btn a{
    padding: 18px 20px 16px 20px;
    border:1px solid #797979 ;
    color: #797979;
}

#shots_part .btn a i{
    margin-right: 10px;
}

/* shots_part */



/* journal_part */

#journal_part{
    padding-top:80px;
    padding-bottom: 83px;
}

#journal_part .title h2{
    color:#444444;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

#journal_part .title h2::before{
    background:#d9d9d9;
}
#journal_part .title h2::after{
    background:#d9d9d9;
}


#journal_part .main {
    display: flex;
    column-gap: 30px;
}
#journal_part .main .journal_item{
    width: 370px;
    padding: 25px 0;
    background: #ffffff;
    border: 1px solid #e3e3e3; 
    margin-top: 30px;
}

#journal_part .main .journal_item .first_text{
    text-align: center;
    padding-bottom: 25px;
}

#journal_part .main .journal_item .first_text h3{
    font-family: 'Roboto Slab', serif; 
    font-weight: 700;
}

#journal_part .main .journal_item .first_text p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-top: 14px;
}



#journal_part .main .journal_item .image{
    width: 100%;
    height:225px;
}

#journal_part .main .journal_item .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#journal_part .main .journal_item .last_text{
    text-align: center;
    padding-top:25px ;
    position: relative
}

#journal_part .main .journal_item .last_text p{
    width: 370px;
    white-space:2px;
    direction:ltr;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #666666;

}

#journal_part .main .journal_item .last_text .icon_part .btn{
    width: 370px;
    position: absolute;
    top: 84px;
    left: -125px;
    padding-top: 10px;
}

#journal_part .main .journal_item .last_text .icon_part .icon{
    width: 370px;
    position: absolute;
    top: 90%;
    left: 43%;
}

#journal_part .main .journal_item .last_text .icon_part .icon a,i{
    color: #acacac;
}
#journal_part .main .journal_item .last_text .icon_part .icon i{
   margin-right: 4px;
}

#journal_part .main .journal_item .last_text .icon_part{
    padding-bottom: 24px;
}
 
#journal_part .main .journal_item .last_text .icon_part .btn a{
   text-align: left;
   padding:5px 0 ;
   width: 87px;
   border-bottom:1px solid #28b8d8;
   margin-left: 26px;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 11px;
}

/* journal_part */

/* about_service_part */

#about_service{
    padding: 100px 0;
}

#about_service .container {
    display: flex;
    column-gap: 30px;
}

#about_service .container .about{
    width:50%;
    padding: 50px 0;
}


#about_service .container .service .title,
#about_service .container .about .title{
    justify-content: flex-start;
}


#about_service .container .service .title h2::before,
#about_service .container .about .title h2::before{
    display: none;
}

#about_service .container .about .title h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #444444;
}

#about_service .container .service .title h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #444444;
}


#about_service .container .about .main{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

#about_service .container .about .main .image{
    width: 196px;
    height: 280px;
    margin-left: 1px;
}

#about_service .container .about .main .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about_service .container .about .main .text{
    width: 346px;
}

#about_service .container .about .main .text .first{
    font-family: 'Roboto Slab', serif; 
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 23px;
    color: #666666;
}

#about_service .container .about .main .text .last{
    font-family: 'Roboto Slab', serif; 
    font-weight: 400;
    font-size: 14px;
    color: #666666;
}




#about_service .container .service{
    width:50%;
    padding: 50px 0;
}

#about_service .container .service .main .item{
    display: flex;
    column-gap: 24px;
    margin-left: 6px;
}


#about_service .container .service .main .item{
    margin-top: 30px;
}

#about_service .container .service .main .item .text h4{
    font-family: 'Roboto Slab', serif; 
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    padding-bottom: 16px;
    color: #444444;
}

#about_service .container .service .main .item .text p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #666666;
}

/* about_service_part */

/* footer part */

footer{
    padding:68px 0;
    background:#373737;
}

footer .container{
    display: flex;
    column-gap: 30px;
}

footer .container .item h2{
    color: #d5d5d5;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;padding-bottom: 26px

}
footer .container .item a{
    color: #cacaca;
}

footer .container .item p{
    color: #cacaca;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;

}

footer .container .item a i{
    margin-right: 10px;
    padding-bottom: 13px;
    color: #cacaca;
}

footer .container .item p.date{
    color: #878787;
}

/* footer part */

/* copy_right_part */

#copy_right{
    padding: 40px 0 37px;
    background:#333333;
}

#copy_right .container .text i{
    margin-right: 5px;
}

#copy_right .container .text p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #cacaca;
}

/* copy_right_part */

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif; 
*/